---
import 	'../styles/global.css'

import { SEO } from 'astro-seo';
import Header from '../components/Header.astro';
---

<html lang="en">
	<head>
		<SEO>
			
		</SEO>
	</head>
	
	<body>
		<Header />
	</body>
</html>
